

*{
  background-color: #d2dbdd;
  /* background-color: blueviolet; */
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  
}
.heading_style{
  padding:30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color:#868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 25px;

}
.cards{
  width:100%;
  height: auto;
 

}
.card{
  /* height:250px; */
  margin:6%;
  transition: all 0.4s cubic-bezier(0.175, 0.855, 0, 1);
  background-color: #fff;
  width:21.25%;
  border-radius: 12px;
  box-shadow: opx 13px 10px -7px  rgba(0,0,0,0.1 );
  float: left;
  /* height: 100px; */
  
}
.card:hover{
  box-shadow: 0px 30px 18px -8px  rgba(0, 0,0, 0.1);
  transform: scale(1.05,1.05);

}


 .card__img{
  height:225px;
  width:100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.class__info{
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding:16px 24px 24px 24px;
  background-color: #fff;
}
.card_category{

  font-family:"Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color:#868686;
  background-color: #fff;

}
.card__title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family:"Raleway",sans-serif;
  background-color: #fff;
  text-transform: capitalize;

}
button{
  padding:5px 8px;
  font-family:"Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color:#868686;
  background-color: #fff;
  outline: none;
  border:1px solid black;
  cursor: pointer;
}
